<mat-card  [formGroup]="form" class="form">
    <h2>Please fill every fields (even with default value)</h2>
    <mat-card-content class="fields">
       <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Nadia..." formControlName="name">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
       </mat-form-field>
       <mat-form-field appearance="fill">
          <mat-label>Descrpition</mat-label>
          <textarea matInput formControlName="description" ></textarea>
          <mat-icon matSuffix>description</mat-icon>
       </mat-form-field>
       <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@univ-lyon1.fr" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
       </mat-form-field>
       <mat-form-field appearance="fill">
          <mat-label>Job</mat-label>
          <input matInput placeholder="Computer Scientist..." formControlName="job">
          <mat-icon matSuffix>job</mat-icon>
       </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="buttons">
       <button mat-raised-button color="primary" routerLink="/home">
          <mat-icon>arrow_back</mat-icon>Back</button>
       <button mat-raised-button color="accent" [disabled]="!form.valid" (click)="submit()">Valider</button>
    </mat-card-actions>
 </mat-card>