<mat-card>
    <mat-card-header>
       <mat-card-title>{{user.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
       <p>Description : <span>{{user.description}}</span></p>
       <p>Email : <span>{{user.email}}</span></p>
       <p>Job : <span>{{user.job}}</span></p>
    </mat-card-content>
    <mat-card-actions>
       <button mat-raised-button color="primary" routerLink="/home">Back</button>
    </mat-card-actions>
 </mat-card>
 