<h3>Filtrer par critères :</h3>
<div class="filters" [formGroup]="filterForm">
   <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Nadia" formControlName="name">
   </mat-form-field>
   <mat-form-field>
      <mat-label>job</mat-label>
      <input matInput placeholder="Teacher" formControlName="job">
   </mat-form-field>
   <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="example@univ-Lyon1.fr" formControlName="email">
   </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
   <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
   </ng-container>

   <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
   </ng-container>

   <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
   </ng-container>

   <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job </th>
      <td mat-cell *matCellDef="let element"> {{element.job}} </td>
   </ng-container>

   <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
         <div class="actions">
            <button mat-raised-button color="primary" routerLink="/detail/{{element.id}}">Detail</button>
            <button mat-raised-button color="accent" routerLink="/edit/{{element.id}}">Edit</button>
            <button mat-raised-button color="warn" (click)="delete(element)">Delete</button>
         </div>
      </td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

   <ng-container *ngIf="!isLoadingResults">
      <tr class="mat-row" *matNoDataRow>
         <td class="mat-cell" colspan="5">
            <h3 style="text-align: center; margin-top: 1rem;">
               No users found
            </h3>
         </td>
      </tr>
   </ng-container>


   <tr class="mat-row" *ngIf="isLoadingResults">
      <td class="mat-cell" colspan="5">
         Loading Data
      </td>
   </tr>
</table>
<button mat-raised-button color="primary" routerLink="/add" style="margin-top: 1rem;">
   <mat-icon>add</mat-icon>Add
</button>
